.pageHeader {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid rgb(122, 122, 122);
    background: rgb(167,167,167); 
    box-shadow: 0 2px 8px rgb(30, 30, 30);
    
}

.pageHeader p{
    color: rgb(255, 255, 255);
    margin-left: 20px;
    line-height: 40px;
}

.pageHeader button{
    margin-left: 10px;
}

html,body,div,span,p,canvas,h3{
    margin:0;
    padding:0;
}

.canvasbg {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

canvas {
    position: absolute;
    z-index: 150;
}
.output{
    float:right;
    padding-right: 20px;
}
.tip{
    width: 150px;
    height: 200px;
    z-index: 1000;
    display: none;
    position: fixed;
    background: rgb(78, 78, 78); 
    color: #fff;
}

.pannelboard {
    max-width: 45%;
    height: 50%;
    z-index: 1000;
    display: none;
    position: fixed;
    bottom: 0px;
    border: 1px solid rgb(122, 122, 122);
    background: rgb(167,167,167); 
    box-shadow: 0 2px 8px rgb(30, 30, 30);
    color: #fff;
}


.pannelboard .pannel_top {
    position: relative;
    z-index: 1200;
    top: 0;
    width: 50%;
    height: 40px;
    margin-left: 10px;
    margin-right: 0px;
    line-height: 40px;
}

.pannelboard .pannel_top_right {
    position: relative;
    z-index: 1200;
    float:right;
    top: 0;
    width: 40%;
    max-width: 100%;
    height: 40px;
    margin-right:20px;;
    line-height: 40px;
}

.pannelboard div {
    margin-left:10px ;
}

.pannelboard input {
    position: relative;
    z-index: 1200;

    top: 0;
    width: 60%;
    max-width: 100%;
    height: 20px;
    margin-left:10px ;
    line-height: 40px;
}

.pannelboard button {
    margin-top: 10px;
    margin-left: 10px;
}

.pannelboard input.key_input {
    width: 30%;
    margin-right: 5px;
}

.pannelboard input.value_input {
    width: 27%;
    margin-left: 5px;
    margin-right: 5px;
}


.pannelboard input.r_input {
    width: 15%;
    margin-left: 0px;
    margin-right: 0px;
}

.pannelboard input.cu_input {
    width: 20%;
    margin-left: 0px;
    margin-right: 5px;
}

.pannelboard input.pt_input {
    width: 20%;
    margin-left: 0px;
    margin-right: 5px;
}

.pannelboard input.lv_input {
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
}

.pannelboard div.state_property{
    margin-left: 0px;
}

.pannelboard div.state_property_flow{
    overflow:auto;
    height: 400px;
}

.pannelboard .btn-adjustment{
    margin-left: 0px;
}

.state_more_info{
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 70%;
    border-top: 1px solid rgb(122, 122, 122);
    background: rgb(167,167,167); 
    box-shadow: 0 2px 8px rgb(30, 30, 30);
}

.state_more_info div{
    width: 200%;
}

.btn-adjustment-resource-minus {
    position: absolute;
    left: 0%;
    height: 10%;
}

.pannelboard input.key_resource_input {
    width: 25%;
    margin-right: 0px;
}

.pannelboard input.pico_input {
    width: 5%;
    margin-right: 0px;
}

.btn-adjustment-resource-plus {
    position: absolute;
    left: 100%;
    height: 10%;
}

.select_box{
    /* border-top: 1px solid rgb(122, 122, 122); */
    background: rgba(167,167,167,100);
    position: fixed; 
    z-index: 1500;
    /* box-shadow: 0 2px 8px rgb(30, 30, 30); */
}

#prov_pannelboard button{
    height: 25px;
    width: 30px;
    margin: 0;
    border: 0px;
}

#prov_pannelboard input{
    width: 60px;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: whitesmoke;
    z-index: 1500;
    opacity: 0.5;
}